services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: cargo_scraper_app
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
    env_file:
      - .env
    depends_on:
      - selenium
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G

  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium_chrome
    shm_size: 4g
    restart: unless-stopped
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G

  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare_tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token eyJhIjoiMzA4NzVjZWI0MzRmMzYwZGUxNTViOWYxYWQxOGU4YzQiLCJ0IjoiZmQyNTE1ODQtMGFjOS00Y2Y3LTk3OGYtNjE5NzY2ZTgzYTRhIiwicyI6Ik5qVmxZMlZsWldNdFl6VTRaaTAwWWpjM0xXRXpOMkV0TURreVltWm1Nek0wTW1WbCJ9
    depends_on:
      - app
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 3G

networks:
  app-network:
    driver: bridge