services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: cargo_scraper_app
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
    env_file:
      - .env
    depends_on:
      - selenium
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1.5G

  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium_chrome
    shm_size: 2g
    restart: unless-stopped
    environment:
      - SE_NODE_MAX_SESSIONS=5
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G

networks:
  app-network:
    driver: bridge