services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: cargo_scraper_app
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./output:/app/output
    env_file:
      - .env
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G

networks:
  app-network:
    driver: bridge